extends ../layout

block content

  .row-fluid
    .span4
      ul.nav.nav-tabs.nav-stacked#nav
        each account in accounts
          li
            a(href="#") #{account.name}
              span #{account.balance_pretty}
              i.icon-chevron-right
        li.active
          a(href="#") All Accounts
            span #{total}
            i.icon-chevron-right

    .span8
      div#search-wrapper
        input.search-query.pull-right(type="text", placeholder="Search Transactions...")
        .clearfix

      table.table.table-striped
        thead
          tr
            th Account
            th Name
            th Amount
            th Date

        tbody
          each transaction in transactions
            tr
              td #{transaction._account.name}
              td #{transaction.name}
              td #{transaction.amount_pretty}
              td 8/2/12
