extends ../layout

block content

  .row-fluid
    .span4
      ul.nav.nav-tabs.nav-stacked#nav
        each account in accounts
          li
            a(href="#") #{account.name}
              span #{account.balance_pretty}
              i.icon-chevron-right
        li.active
          a(href="#") All Accounts
            span #{total}
            i.icon-chevron-right

      div.last-updated
        | Last updated #{lastUpdated}
        a.btn.btn-primary.updating#update-accounts-button
          i.icon-refresh.icon-white

    .span8
      div#search-wrapper
        input.search-query.pull-right(type="text", placeholder="Search Transactions...")
        .clearfix

      table.table.table-striped.transactions-table
        thead
          tr
            th Account
            th Name
            th Amount
            th Date

        tbody
          each transaction in transactions
            tr
              td #{transaction._account.name}
              td #{transaction.name}
              td.amount(class="#{transaction.amount > 0 ? 'positive' : 'negative'}") #{transaction.amount_pretty}
              td #{transaction.date}
